BigBrotherSID		<%= bbsid %>
BigBrotherCode		<%= bbcode %>
BigBrotherUser            adr_manager 
RmanCatalogSID            eabprd2
RmanCatalogUser           adr 
# The following are optional,
# mpPercentThreshold default is 90
mpPercentThreshold 90
LUN2ASMPercentThreshold 80
ASMPercentThreshold 100
# maxReceiveChannels default is 12
# sqlScriptsDir default is sqlScripts
# threadCheckSeconds default is 5
# LogDetailLimit default is 4000 (should match db limit)
# essCheckSeconds default is 20
# essCheckMulitplier default is 30
# (essCheckSeconds * essCheckMulitplier) is total wait time in seconds

