RESPONSEFILE_VERSION=2.2.1.0.0
OMS_HOST=<%= occ_oms_host %>
EM_UPLOAD_PORT=<%= occ_em_upload_port %>
AGENT_REGISTRATION_PASSWORD=<%= occ_agent_registration_password %>
AGENT_INSTANCE_HOME=<%= occ_agent_instance_home %>
AGENT_PORT=<%= occ_agent_port %>
b_startAgent=<%= occ_b_startagent %>
ORACLE_HOSTNAME=<%= occ_oracle_hostname %>
s_agentHomeName=<%= occ_s_agenthomename %>
EM_INSTALL_TYPE="AGENT"
