

ORACLE_TERM=xterm; export ORACLE_TERM

LD_LIBRARY_PATH=<%= @oracleHome %>/lib
ORACLE_BASE=<%= @oracleBase %>
ORACLE_HOME=<%= @oracleHome %>
SQLPLUS_HOME=<%= @oracleHome %>
PATH=/bin:/usr/local/bin:/usr/bin:/bin:<%= @oracleHome %>/bin:/usr/local/scripts/dba:/usr/local/scripts/inf

export ORACLE_BASE
export ORACLE_HOME
export SQLPLUS_HOME
export PATH
export LD_LIBRARY_PATH

export TEMP=/tmp 
export TMPDIR=/tmp
umask 022

export ORACLE_SID=<%= @dbName %>
export ORACLE_UNQNAME=<%= @dbName %>
export TNS_ADMIN=<%= @oracleHome %>/network/admin

[ "$DEBUG" ] && echo "Setting aliases"
alias gui="gnome-session &"
alias xt="xterm -fn '-*-lucidatypewriter-*-*-*-*-14-*' -bg black -fg green -sb"
alias pg="pg -n -p':Page %d: '"
#alias more="pg -n -p':Page %d: '"
alias cls="tput clear"
alias ls="ls -F"
alias li="li -v"    # put <>and[] around executables and directories
# local aliases
alias l='ls -lst '
alias la='ls -lsat | more'
alias ldr='cd $HOME/listener/src/driver'
alias ldri='cd $HOME/listener/inc/driver'
alias psmem='ps -e -o user,pid,vsz=VMemInKB -o comm'
# list all the software version nos and descreption
alias lp='lslpp -l'
alias ll="ls -ltr"
#alias sid='. /usr/bin/sid.ksh'
alias sid='. /etc/skel/.sid.ksh'
alias setsid='. /usr/local/bin/setsid.sh'
alias showsid='/usr/local/bin/showsid.sh'
alias lsd='ls -l | grep ^d'
#Number of CPUS
alias cpus='echo "This machine has ";lscfg -l "proc*" 2>/dev/null | tail -n +3 | wc -l; echo "cpus"'
# mail check


#if [ -s "$MAIL" ]       # This is at Shell startup.  In
#then echo"$MAILMSG"     # normal operation, the Shell checks
#fi                      # periodically.

alias dirsize='ls -l | awk '\''{sum+=$5} END {print sum}'\'''
alias dirsizefull='ls -lR | awk '\''{sum+=$5} END {print sum}'\'''
