<?xml version = '1.0'?>
<DatabaseTemplate name="<%= @db_name %>" description="<%= @db_name %> template" version="12.1.0.2.0">
   <CommonAttributes>
      <option name="OMS" value="false"/>
      <option name="JSERVER" value="true"/>
      <option name="SPATIAL" value="false"/>
      <option name="IMEDIA" value="false"/>
      <option name="ORACLE_TEXT" value="false">
         <tablespace id="SYSAUX"/>
      </option>
      <option name="XDB_PROTOCOLS" value="true">
         <tablespace id="SYSAUX"/>
      </option>
      <option name="CWMLITE" value="false">
         <tablespace id="SYSAUX"/>
      </option>
      <option name="SAMPLE_SCHEMA" value="<%= @sample_schema %>"/>
      <option name="APEX" value="false"/>
      <option name="DV" value="false"/>
   </CommonAttributes>
   <Variables/>
   <CustomScripts Execute="false"/>
   <InitParamAttributes>
      <InitParams>
         <initParam name="audit_lag_target" value="1800"/>
         <initParam name="compatible" value="12.1.0.2"/>
         <initParam name="control_files" value="(&quot;+DATA&quot;, &quot;+FRA&quot;)"/>
	 <initParam name="cursor_sharing" value="EXACT"/>
         <initParam name="db_block_size" value="8192" unit="KB"/>
         <initParam name="db_create_file_dest" value="+<%= @asm_diskgroup %>"/>
         <initParam name="db_domain" value="<%= @db_domain %>"/>
	 <initParam name="db_file_multiblock_read_count" value="16"/>
	 <initParam name="db_files" value="500"/>
         <initParam name="db_name" value="<%= @db_name %>"/>
         <initParam name="db_recovery_file_dest" value="+<%= @recovery_diskgroup %>"/>
         <initParam name="db_recovery_file_dest_size" value="100" unit="GB"/>
	 <initParam name="db_securefile" value="PREFERRED"/>
	 <initParam name="db_writer_processes" value="8"/>
         <initParam name="diagnostic_dest" value="{ORACLE_BASE}"/>
         <initParam name="dispatchers" value="(PROTOCOL=TCP) (SERVICE={SID}XDB)"/>
	 <initParam name="dml_locks" value="500"/>
	 <initParam name="fast_start_mttr_target" value="300"/>
	 <initParam name="filesystemio_options" value="SETALL"/>
         <initParam name="job_queue_processes" value="100"/>
	 <initParam name="log_checkpoint_interval" value="0"/>
	 <initParam name="log_checkpoint_timeout" value="0"/>
	 <initParam name="log_checkpoints_to_alert" value="TRUE"/>
         <initParam name="open_cursors" value="2000"/>
	 <initParam name="parallel_adaptive_multi_user" value="TRUE"/>
	 <initParam name="pga_aggregate_target" value="1073741824"/>
	 <initParam name="pre_page_sga" value="TRUE"/>
         <initParam name="processes" value="3000"/>
	 <initParam name="query_rewrite_integrity" value="TRUSTED"/>
	 <initParam name="recyclebin" value="OFF"/>
         <initParam name="remote_login_passwordfile" value="EXCLUSIVE"/>
	 <initParam name="session_cached_cursors" value="1000"/>
	 <initParam name="session_max_open_files" value="30"/>
	 <initParam name="sessions" value="2000"/>
	 <initParam name="sga_max_size" value="6" unit="GB"/>
	 <initParam name="sga_target" value="6" unit="GB"/>
	 <initParam name="undeo_retention" value="10800"/>
         <initParam name="undo_tablespace" value="UNDOTBS1"/>
	 <initParam name="local_listener" value="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=<%= @fqdn %>)(PORT=<%= @db_port1 %>))(ADDRESS=(PROTOCOL=TCP)(HOST=<%= @fqdn %>)(PORT=<%= @db_port2 %>))))"/>
      </InitParams>
      <MiscParams>
         <characterSet>"<%= @character_set %>"</characterSet>
         <nationalCharacterSet>"<%= @nationalcharacter_set %>"</nationalCharacterSet>
         <databaseType><%= @database_type %></databaseType>
         <archiveLogMode>false</archiveLogMode>
         <initParamFileName>{ORACLE_BASE}/admin/{DB_UNIQUE_NAME}/pfile/init.ora</initParamFileName>
         <initParamFileName>{ORACLE_HOME}/dbs/init.ora</initParamFileName>
      </MiscParams>
      <SPfile useSPFile="true">{ORACLE_HOME}/dbs/spfile{SID}.ora</SPfile>
   </InitParamAttributes>
   <StorageAttributes>
      <ControlfileAttributes id="Controlfile">
         <maxDatafiles>1024</maxDatafiles>
         <maxLogfiles>16</maxLogfiles>
         <maxLogMembers>3</maxLogMembers>
         <maxLogHistory>1</maxLogHistory>
         <image name="control01.ctl" filepath="('+REDO','+FRA')"/>
         <image name="control02.ctl" filepath="('+REDO','+FRA')"/>
      </ControlfileAttributes>
      <DatafileAttributes id="+DATA/sysaux01.dbf">
         <tablespace>SYSAUX</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="GB">2</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="GB">2</increment>
         <maxSize unit="GB">-1</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="+DATA/users01.dbf">
         <tablespace>USERS</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="GB">2</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="GB">2</increment>
         <maxSize unit="GB">-1</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="+DATA/system01.dbf">
         <tablespace>SYSTEM</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="GB">2</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="GB">2</increment>
         <maxSize unit="GB">-1</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="+DATA/temp01.dbf">
         <tablespace>TEMP</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="GB">1</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="GB">1</increment>
         <maxSize unit="MB">-1</maxSize>
      </DatafileAttributes>
      <DatafileAttributes id="+DATA/undotbs01.dbf">
         <tablespace>UNDOTBS1</tablespace>
         <temporary>false</temporary>
         <online>true</online>
         <status>0</status>
         <size unit="GB">1</size>
         <reuse>true</reuse>
         <autoExtend>true</autoExtend>
         <increment unit="GB">1</increment>
         <maxSize unit="GB">-1</maxSize>
      </DatafileAttributes>
      <TablespaceAttributes id="SYSAUX">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>-1</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">64</initSize>
         <increment unit="KB">64</increment>
         <incrementPercent>50</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>4096</maxExtends>
         <minExtendsSize unit="KB">64</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="+DATA/sysaux01.dbf"/>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="USERS">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>-1</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">128</initSize>
         <increment unit="KB">128</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>4096</maxExtends>
         <minExtendsSize unit="KB">128</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="+DATA/users01.dbf"/>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="SYSTEM">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>-1</blockSize>
         <allocation>3</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">64</initSize>
         <increment unit="KB">64</increment>
         <incrementPercent>50</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>-1</maxExtends>
         <minExtendsSize unit="KB">64</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="+DATA/system01.dbf"/>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="TEMP">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>true</temporary>
         <defaultTemp>true</defaultTemp>
         <undo>false</undo>
         <local>true</local>
         <blockSize>-1</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">64</initSize>
         <increment unit="KB">64</increment>
         <incrementPercent>0</incrementPercent>
         <minExtends>1</minExtends>
         <maxExtends>0</maxExtends>
         <minExtendsSize unit="KB">64</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="+DATA/temp01.dbf"/>
         </datafilesList>
      </TablespaceAttributes>
      <TablespaceAttributes id="UNDOTBS1">
         <online>true</online>
         <offlineMode>1</offlineMode>
         <readOnly>false</readOnly>
         <temporary>false</temporary>
         <defaultTemp>false</defaultTemp>
         <undo>true</undo>
         <local>true</local>
         <blockSize>-1</blockSize>
         <allocation>1</allocation>
         <uniAllocSize unit="KB">-1</uniAllocSize>
         <initSize unit="KB">512</initSize>
         <increment unit="KB">512</increment>
         <incrementPercent>50</incrementPercent>
         <minExtends>8</minExtends>
         <maxExtends>4096</maxExtends>
         <minExtendsSize unit="KB">512</minExtendsSize>
         <logging>true</logging>
         <recoverable>false</recoverable>
         <maxFreeSpace>0</maxFreeSpace>
         <bigfile>false</bigfile>
         <datafilesList>
            <TablespaceDatafileAttributes id="+DATA/undotbs01.dbf"/>
         </datafilesList>
      </TablespaceAttributes>
      <RedoLogGroupAttributes id="1">
         <reuse>false</reuse>
         <fileSize unit="GB">1</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo01.log" filepath="('+REDO','+FRA')"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="2">
         <reuse>false</reuse>
         <fileSize unit="GB">1</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo02.log" filepath="('+REDO','+FRA')"/>
      </RedoLogGroupAttributes>
      <RedoLogGroupAttributes id="3">
         <reuse>false</reuse>
         <fileSize unit="GB">1</fileSize>
         <Thread>1</Thread>
         <member ordinal="0" memberName="redo03.log" filepath="('+REDO','+FRA')"/>
      </RedoLogGroupAttributes>
   </StorageAttributes>
</DatabaseTemplate>
