#!/usr/bin/ksh


if [ $USER = "oracle" ]; then
          if [ $SHELL = "/bin/ksh" ]; then
                ulimit -n 65536
          else
                ulimit -u 16384 -n 65536
          fi
fi

. ./.aliases
. /usr/bin/setsid.sh <%= @db_name %>

ORACLE_BASE=<%= @oracle_base %>
export ORACLE_BASE
ORACLE_HOME=<%= @oracle_home %>
export ORACLE_HOME
LD_LIBRARY_PATH=$ORACLE_HOME/lib32:$ORACLE_HOME/lib
export LD_LIBRARY_PATH

#export LD_ASSUME_KERNEL=2.4.19
#export LD_ASSUME_KERNEL=2.6.18

export PATH=/usr/kerberos/bin:.:/usr/local/bin:/bin:/usr/bin:/usr/X11R6/bin:.:/usr/sbin:$ORACLE_HOME/bin:/usr/openwin/bin:$ORACLE_HOME/rdbms/admin:$ORACLE_HOME/network/admin:/usr/local/scripts:/usr/local/scripts/dba:/usr/local/scripts/inf

set -o vi
if [ -s "$MAIL" ]           # This is at Shell startup.  In normal
then echo "$MAILMSG"        # operation, the Shell checks
fi                          # periodically.
. ./.kshrc
EDITOR=vi
export EDITOR
export COLUMNS=350
