*.archive_lag_target=1800
*.audit_sys_operations=TRUE
*.compatible='12.1.0.2'
*.control_files='+DATA','+FRA' #Restore Controlfile
*.cursor_sharing='EXACT'
*.db_block_size=8192
*.db_create_file_dest='+DATA'
*.db_domain='eagleaccess.com'
*.db_file_multiblock_read_count=16
*.db_files=500
*.db_name='<%= @db_name %>'
*.db_recovery_file_dest='+FRA'
*.db_recovery_file_dest_size=100G
*.db_securefile='PREFERRED'
*.db_writer_processes=8
*.diagnostic_dest='/u01/app/oracle'
*.dispatchers='(PROTOCOL=TCP) (SERVICE=<%= @db_name %>XDB)'
*.dml_locks=500
*.fast_start_mttr_target=300
*.filesystemio_options='SETALL'
*.job_queue_processes=100
*.local_listener='(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=<%= @fqdn %>)(PORT=<%= @db_port1 %>))(ADDRESS=(PROTOCOL=TCP)(HOST=<%= fqdn %>)(PORT=<%= @db_port2 %>))))'
*.log_checkpoint_interval=0
*.log_checkpoint_timeout=0
*.log_checkpoints_to_alert=TRUE
*.open_cursors=2000
*.parallel_adaptive_multi_user=TRUE
*.pga_aggregate_target=1073741824
*.pre_page_sga=TRUE
*.processes=3000
*.query_rewrite_integrity='TRUSTED'
*.recyclebin='OFF'
*.remote_login_passwordfile='EXCLUSIVE'
*.session_cached_cursors=1000
*.session_max_open_files=30
*.sessions=2000
*.sga_max_size=6G
*.sga_target=6G
*.undo_retention=10800
*.undo_tablespace='UNDOTBS1'
*.use_large_pages='ONLY'
