<%= @dbName %>.__db_cache_size=419430400
<%= @dbName %>.__java_pool_size=4194304
<%= @dbName %>.__large_pool_size=16777216
<%= @dbName %>.__oracle_base='/u01/oracle_11204/app/oracle'
<%= @dbName %>.__pga_aggregate_target=209715200
<%= @dbName %>.__sga_target=629145600
<%= @dbName %>.__shared_io_pool_size=0
<%= @dbName %>.__shared_pool_size=176160768
<%= @dbName %>.__streams_pool_size=0
db_unique_name=<%= @dbName %>
*.archive_lag_target=1800
*.audit_file_dest='/u01/oracle_11204/app/oracle/admin/<%= @dbName %>/adump'
*.audit_sys_operations=TRUE
*.audit_trail='DB_EXTENDED'
*.compatible='11.2.0.4.0'
*.control_files='+DATA/<%= @dbName %>/controlfile/control01.ctl','+FRA/<%= @dbName %>/controlfile/control02.ctl'
*.cursor_sharing='EXACT'
*.db_block_size=8192
*.db_create_file_dest='+DATA'
*.db_domain='eagleaccess.com'
*.db_file_multiblock_read_count=16
*.db_files=500
*.db_name=<%= @sourceSID %>
*.db_recovery_file_dest='+FRA'
*.db_recovery_file_dest_size=1000G
*.db_writer_processes=8
*.diagnostic_dest='/u01/oracle_11204/app/oracle'
*.dispatchers='(PROTOCOL=TCP) (SERVICE=<%= @dbName %>XDB)'
*.dml_locks=500
*.fast_start_mttr_target=300
*.filesystemio_options='SETALL'
*.job_queue_processes=100
*.log_checkpoint_interval=0
*.log_checkpoint_timeout=0
*.log_checkpoints_to_alert=TRUE
*.open_cursors=3000
*.parallel_adaptive_multi_user=TRUE
*.pga_aggregate_target=2147483648
*.pre_page_sga=TRUE
*.processes=4000
*.query_rewrite_integrity='TRUSTED'
*.recyclebin='OFF'
*.remote_login_passwordfile='EXCLUSIVE'
*.sec_case_sensitive_logon=TRUE
*.session_cached_cursors=1000
*.session_max_open_files=30
*.sessions=4000
*.sga_max_size=17179869184
*.sga_target=17179869184
*.undo_retention=10800
*.undo_tablespace='UNDOTBS1'
*.use_large_pages='ONLY'
