

ORACLE_TERM=xterm; export ORACLE_TERM

LD_LIBRARY_PATH=<%= @grid_home %>/lib
ORACLE_BASE=<%= @grid_base %>
ORACLE_HOME=<%= @grid_home %>
SQLPLUS_HOME=<%= @grid_home %>
PATH=/bin:/usr/local/bin:/usr/bin:/bin:<%= @grid_home %>/bin

export ORACLE_SID=+ASM
export ORACLE_UNQNAME=+ASM

export LD_LIBRARY_PATH
export ORACLE_BASE
export ORACLE_HOME
export SQLPLUS_HOME
export PATH

export TEMP=/tmp 
export TMPDIR=/tmp
umask 022

. $HOME/.aliases
. $HOME/.kshrc
. $HOME/.exrc
