

ORACLE_TERM=xterm; export ORACLE_TERM

LD_LIBRARY_PATH=<%= @gridHome %>/lib
ORACLE_BASE=<%= @gridBase %>
ORACLE_HOME=<%= @gridHome %>
SQLPLUS_HOME=<%= @gridHome %>
PATH=/bin:/usr/local/bin:/usr/bin:/bin:<%= @gridHome %>/bin

export ORACLE_SID=+ASM
export ORACLE_UNQNAME=+ASM

export LD_LIBRARY_PATH
export ORACLE_BASE
export ORACLE_HOME
export SQLPLUS_HOME
export PATH

export TEMP=/tmp 
export TMPDIR=/tmp
umask 022

. $HOME/.aliases
. $HOME/.kshrc
. $HOME/.exrc
