#! /bin/sh -x
#
# chkconfig: 2345 80 05
# description: start and stop Oracle Database Enterprise Edition on Oracle Linux 5 and 6
#

# In /etc/oratab, change the autostart field from N to Y for any
# databases that you want autostarted.
#
# Create this file as /etc/init.d/oradb and execute:
#  chmod 750 /etc/init.d/oradb
#  chkconfig --add oradb
#  chkconfig oradb on

# Note: Change the value of ORACLE_HOME to specify the correct Oracle home
# directory for your installation.
 
ORACLE_HOME=<%= @oracleHome %>

#
# Note: Change the value of ORACLE to the login name of the oracle owner
ORACLE=oracle

PATH=${PATH}:$ORACLE_HOME/bin
HOST=`hostname`
PLATFORM=`uname`
export ORACLE_HOME PATH

case $1 in
'start')
    echo -n $"Starting Oracle: "
    su $ORACLE -c "$ORACLE_HOME/bin/dbstart $ORACLE_HOME" &
    ;;
'stop')
    echo -n $"Shutting down Oracle: "
    su $ORACLE -c "$ORACLE_HOME/bin/dbshut $ORACLE_HOME" &
    ;;
'restart')
    echo -n $"Shutting down Oracle: "
    su $ORACLE -c "$ORACLE_HOME/bin/dbshut $ORACLE_HOME" &
    sleep 5
    echo -n $"Starting Oracle: "
    su $ORACLE -c "$ORACLE_HOME/bin/dbstart $ORACLE_HOME" &
    ;;
*)
    echo "usage: $0 {start|stop|restart}"
    exit
    ;;
esac

exit
