05,23,35,50 * * * * /usr/local/scripts/dba/monitor/CheckAlert.sh > /home/oracle/CRONLOG/CheckAlert.log 2> /home/oracle/CRONLOG/CheckAlert.err
0,20,40 * * * * /usr/local/scripts/dba/processes/GetProcessCounts.sh > /home/oracle/CRONLOG/GetProcessCounts.log 2> /home/oracle/CRONLOG/GetProcessCounts.err
#00 21 * * 0-6 /usr/local/scripts/dba/daily/GatherTableStats.sh <%= dbName %> > /home/oracle/CRONLOG/GatherTableStats_<%= dbName %>.log 2> /home/oracle/CRONLOG/GatherTableStats_<%= dbName %>.err
#34 * * * * /usr/local/scripts/dba/dataguard/VerifyDataguard.sh > /home/oracle/CRONLOG/VerifyDataguard.log 2> /home/oracle/CRONLOG/VerifyDataguard.err
55 2 * * * /usr/local/scripts/dba/freespace/check_free_space.ksh > /home/oracle/CRONLOG/check_free_space.log 2> /home/oracle/CRONLOG/check_free_space.err
#30 18 * * 2 /usr/local/scripts/dba/backups/rman/RMANBackup.sh <%= dbName %> INCREMENTAL 0 > /home/oracle/CRONLOG/RMANBackup_<%= dbName %>_full.log 2> /home/oracle/CRONLOG/RMANBackup_<%= dbName %>_full.err
#30 18 * * 0-1,3-6 /usr/local/scripts/dba/backups/rman/RMANBackup.sh <%= dbName %> INCREMENTAL 1 > /home/oracle/CRONLOG/RMANBackup_<%= dbName %>_incremental.log 2> /home/oracle/CRONLOG/RMANBackup_<%= dbName %>_incremental.err
8 6 * * * /usr/local/scripts/dba/scripts/backup_oracle_os_files.ksh > /home/oracle/CRONLOG/backup_oracle_os_files.log 2> /home/oracle/CRONLOG/backup_oracle_os_files.err
05,30,45 * * * * /usr/local/scripts/dba/diskspace/CheckDiskSpace.sh > /home/oracle/CRONLOG/CheckDiskSpace.log 2> /home/oracle/CRONLOG/CheckDiskSpace.err
9 9 * * * /usr/local/scripts/dba/scripts/purge_audit_logs.ksh > /dev/null 2>&1
33 3 28 * * /usr/local/scripts/dba/freespace/keep_one_file_from_past_months.pl > /dev/null 2>&1
2,32 * * * * /usr/local/scripts/dba/backups/rman/BackupCleanArch.ksh > /home/oracle/CRONLOG/BackupCleanArch.log 2> /home/oracle/CRONLOG/BackupCleanArch.err
