<%= @title %> =
  (DESCRIPTION =
  <%- if @server.length == 1 -%>
  <%- @server.each_pair do |key, server| -%>
    (ADDRESS = (PROTOCOL = <%= server['protocol'] %>)(HOST = <%= server['host'] %>)(PORT = <%= server['port'] %>))
  <%- end -%>
  <%- else -%>
    (ADDRESS_LIST=
     (LOAD_BALANCE = <%= @loadbalance %>)
     (FAILOVER = <%= @failover %>)
     <%- @server.each_pair do |key, server| -%>
     (ADDRESS = (PROTOCOL = <%= server['protocol'] %>)(HOST = <%= server['host'] %>)(PORT = <%= server['port'] %>))
     <%- end -%>
    )
  <%- end -%>
    (CONNECT_DATA =
      (SERVER = <%= @connectServer %>)
      (SERVICE_NAME = <%= @connectServiceName %>.<%= @dbDomain %>)
    )
  )

SB_INFPRD2 =
  (DESCRIPTION =
  (LOAD_BALANCE=on)
  (FAILOVER=on)
  (SDU=32767)
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-dr)(PORT = 42518))
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-dr)(PORT = 42519))
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-dr)(PORT = 42520))
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-dr)(PORT = 42521))
    )
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = infprd2)
    )
  )

INFPRD2 =
  (DESCRIPTION =
  (LOAD_BALANCE=on)
  (FAILOVER=on)
  (SDU=32767)
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-db)(PORT = 42518))
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-db)(PORT = 42519))
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-db)(PORT = 42520))
      (ADDRESS = (PROTOCOL = TCP)(HOST = infprd2-db)(PORT = 42521))
    )
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = infprd2)
    )
  )

EABPRD2 =
  (DESCRIPTION =
  (LOAD_BALANCE=on)
  (FAILOVER=on)
  (SDU=32767)
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-db)(PORT = 42514))
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-db)(PORT = 42515))
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-db)(PORT = 42516))
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-db)(PORT = 42517))
    )
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = eabprd2)
    )
  )

SB_EABPRD2 =
  (DESCRIPTION =
  (LOAD_BALANCE=on)
  (FAILOVER=on)
  (SDU=32767)
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-dr)(PORT = 42514))
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-dr)(PORT = 42515))
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-dr)(PORT = 42516))
      (ADDRESS = (PROTOCOL = TCP)(HOST = eabprd2-dr)(PORT = 42517))
    )
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = eabprd2)
    )

INFTST5 =
  (DESCRIPTION =
  (LOAD_BALANCE=on)
  (FAILOVER=on)
  (SDU=32767)
    (ADDRESS_LIST =
      (ADDRESS = (PROTOCOL = TCP)(HOST = inftst5-db)(PORT = 42511))
      (ADDRESS = (PROTOCOL = TCP)(HOST = inftst5-db)(PORT = 42512))
    )
    (CONNECT_DATA =
      (SERVER = DEDICATED)
      (SERVICE_NAME = inftst5)
    )
  )

<%- if @environment == "development" %>

LABSTATS =
  (DESCRIPTION =
    (ADDRESS =
      (PROTOCOL = TCP)(HOST = 10.130.32.94)(PORT = 1521))
    (CONNECT_DATA =
       (SERVER = DEDICATED)
       (SERVICE_NAME = labstats)
    )
  )

<%- end -%>